.text-green {
  color: #29bd66;
}

.charts {
  background-color: #F4F4F4;
  border: 0;

  #header {
    padding: 0;
    float: left;
    height: 55px;
    width: 100%;
    background-color: white;
    margin: 0 0 40px 0;
    position: relative;
    z-index: 100;

    h1 {
      margin: 55px;
      font-size: 20px;
      color: #DADADA;
      font-weight: normal;
      text-transform: uppercase;
      position: absolute;
      left: 0;
      letter-spacing: 2.2px;
      width: 100%;
      text-align: center;
      font-family: "Avenir Medium";
    }

    #header-logo {
      float: left;
      margin: 0 0 0 17px;
      line-height: 55px;
      font-size: 26px;

      o {
        @extend .text-green;
      }
    }

    a.back {
      background-color: #29BD66;
      font-size: 12px;
      padding: 7px 12px;
      border-radius: 3px;
      color: #FFF;
      float: right;
      display: block;
      margin-right: 13px;
      margin-top: 13px;
    }
  }

  footer {
    background-color: #F4F4F4;
    border-top: 1px solid #E4E4E4;
  }
}

#chart-nav {
  width: 150px;
  position: absolute;
  left: 30px;
  top: 110px;
  z-index: 1000;


  ul.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    float: left;
    width: 100%;

    li {
      float: left;
      width: 100%;
      border-left: 2px solid transparent;
      margin-bottom: 3px;

      span.coming-soon {
        font-style: italic;
        padding: 3px 10px;
        font-size: 13px;
        color: #A9A9A9;
        font-family: "Avenir Medium";
        display: inline-block;
      }

      a {
        padding: 3px 10px;
        font-size: 13px;
        cursor: pointer;
        color: #909090;
        font-family: "Avenir Medium";
        display: inline-block;

        &:hover {
          background: #ECECEC;
          border-radius: 3px;
        }
      }

      &.active {
        border-left: 2px solid #29BD66;

        a {
          color: #4A4A4A;

          &:hover {
            background: none;
          }
        }
      }

      &:first-child {
        &.label {
          margin-top: 0;
        }
      }

      &.label {
        border: 0;
        padding: 0 3px 7px 2px;
        margin-top: 33px;

        label {
          font-size: 10px;
          display: block;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: "Avenir Medium";
          color: #ABABAB;
        }
      }
    }
  }
}

#chart-wrap {
  position: absolute;
  left: 230px;
  right: 40px;
  height: 100%;
  padding-top: 97px;
  
  .tab-content {

    .padder {
      position: absolute;
      right: 0;
      width: 100%;
      bottom: 50px;
      top: 100px;
      max-height: 600px;
      max-width: 1200px;
    }
  }
}