.chart-wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

#chart-nav {
  width: 12%;
  float: left;
  padding-top: 90px;

  ul.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    float: left;
    width: 100%;

    li {
      float: left;
      width: 100%;
      border-left: 2px solid transparent;
      border-bottom: 1px solid #DBDBDB;

      a {
        padding: 10px;
        font-size: 13px;
        display: block;
        cursor: pointer;
        color: #909090;
        font-family: "Avenir Medium";
      }

      &:last-child {
        border-bottom: 1px solid #DBDBDB;
      }

      &.active {
        border-left: 2px solid #29BD66;

        a {
          color: #4A4A4A;
        }
      }

      &:first-child {
        &.label {
          margin-top: 0;
        }
      }

      &.label {
        border: 0;
        padding: 0 3px 4px 2px;
        margin-top: 33px;

        label {
          font-size: 10px;
          display: block;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: "Avenir Medium";
          color: #ABABAB;
        }
      }
    }
  }
}

.tab-content {
  float: left;
  width: 88%;
  padding: 40px;
}
