/****************
     Fonts
****************/
@font-face {
  font-family: "Avenir Black";
  src: url(../font/Avenir_Black.ttf); }
@font-face {
  font-family: "Avenir Medium";
  src: url(../font/Avenir_Medium.ttf); }
@font-face {
  font-family: "Avenir Light";
  src: url(../font/Avenir_Light.ttf); }
/****************
     Colors
****************/
.text-blue, #header #header-code #header-code-property:hover {
  color: #0b8fb2; }

.text-blue-dark, #header #header-code #header-code-property:active {
  color: #235364; }

.background-blue {
  background-color: #0b8fb2; }

.text-green, #body-bigCount, #query #queryButtons span:hover p, #data #data_cols div, #data table .text-blue, #data table #header #header-code #header-code-property:hover, #header #header-code #data table #header-code-property:hover, .charts #header #header-logo o {
  color: #29bd66; }

.background-green, #data #data_cols div a:hover {
  background-color: #29bd66; }

.text-grey, #data .accent {
  color: #5a5a5a; }

.text-red {
  color: #d51407; }

.background-red {
  background-color: #d51407; }

/********************
    Normalization
********************/
::-webkit-scrollbar {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

::selection {
  background: #E4E4E4; }

/*****************
    Elements
*****************/
b {
  font-weight: normal;
  font-family: "Avenir Medium"; }

strong {
  font-weight: normal;
  font-family: "Avenir Black"; }

a, a:visited {
  cursor: pointer;
  color: inherit;
  text-decoration: none; }

[data-query] {
  display: inline-block;
  transition: background-color 75ms;
  cursor: pointer; }

input {
  width: 100%;
  padding: 18px 20px 14px 20px;
  border: 1px solid #E0E0E0;
  border-radius: 2px;
  color: #4D4D4D;
  font-size: 19px;
  transition: all 1500ms cubic-bezier(0.5, -0.035, 0.24, 1); }
  input:focus {
    border-color: #d5d5d5; }
  input:focus, input:hover {
    outline: none; }

#search.error {
  border: 2px solid #F18B8B; }

::-webkit-input-placeholder {
  color: #D2D2D2; }

:-moz-placeholder {
  color: #D2D2D2; }

::-moz-placeholder {
  color: #D2D2D2; }

:-ms-input-placeholder {
  color: #D2D2D2; }

/*****************
      Body
*****************/
body {
  cursor: default;
  height: 100%;
  border-top: 3px solid white;
  background: #fff;
  color: #000;
  font-family: "Avenir Light";
  transition: all 800ms ease-in-out;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  overflow: hidden; }

#body-bigError {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  color: red;
  font-size: 80vh;
  text-align: center; }

#body-bigCount {
  position: absolute;
  left: 50%;
  bottom: -12vw;
  transform: translateX(-50%);
  font-size: 33vw; }
  #body-bigCount:after {
    content: "Site Count";
    position: absolute;
    top: 3.5vw;
    right: 1.75vw;
    text-transform: uppercase;
    font-size: 1.05vw;
    letter-spacing: 0.025vw; }

#searchWrap {
  width: 570px;
  position: absolute;
  margin-left: -285px;
  left: 50%;
  z-index: 10;
  transition: all 0.65s cubic-bezier(0.5, -0.035, 0.24, 1);
  height: 100%;
  top: 0; }

#header {
  font-family: "Avenir Black";
  text-transform: uppercase;
  margin-top: 115px;
  position: relative;
  display: block;
  text-align: center;
  transition: all 0.65s cubic-bezier(0.5, -0.035, 0.24, 1); }
  #header #header-code {
    position: absolute;
    top: -4px;
    width: 100%;
    text-align: right;
    font-family: "Avenir Medium";
    font-size: 9px;
    letter-spacing: 1.6px;
    text-transform: none;
    right: 140px; }
    #header #header-code #header-code-property {
      display: inline-block;
      cursor: pointer; }
  #header #header-logo {
    font-size: 60px;
    color: #3A3A3A;
    margin-bottom: 15px;
    opacity: 0;
    transition: font-size 0.8s cubic-bezier(0.5, -0.035, 0.24, 1); }
    #header #header-logo o {
      color: #6fd99a; }

#slogan {
  text-align: center;
  font-size: 21px;
  margin-bottom: 30px;
  line-height: 1.4;
  transition: font-size 0.8s cubic-bezier(0.5, -0.035, 0.24, 1); }
  #slogan strong {
    font-family: "Avenir Medium"; }

#subSlogan {
  font-size: 14px;
  text-align: center;
  margin-top: 127px; }
  #subSlogan a {
    border-bottom: 1px dotted black;
    padding: 0 0 2px 0; }
  #subSlogan span {
    font-family: "Avenir Medium";
    display: block;
    margin-bottom: 8px;
    font-size: 17px; }

.sectionHeader {
  margin: 1.3rem 0rem 0.65rem 0.05rem;
  font-family: "Avenir Black";
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
  text-transform: uppercase; }

#query {
  font-size: 14px;
  padding: 0; }
  #query [data-query]:hover {
    background: none; }
  #query [data-query]:last-child {
    margin-right: 0; }
  #query #queryButtons {
    margin-top: 15px;
    float: left;
    width: 100%;
    padding: 0 130px;
    transition: all 0.65s cubic-bezier(0.5, -0.035, 0.24, 1); }
    #query #queryButtons span {
      border-radius: 3px;
      line-height: 1.1rem;
      color: black;
      font-family: "Avenir Medium";
      width: 33.33%;
      float: left;
      text-align: center;
      opacity: 0;
      transition: all 0.65s cubic-bezier(0.5, -0.035, 0.24, 1); }
    #query #queryButtons p {
      padding: 0 1px 1px 1px;
      margin: 0;
      border-bottom: 1px dotted #BBB;
      display: inline;
      transition: all 150ms; }

#searchSymbols {
  position: fixed;
  margin-top: -156px;
  margin-right: -230px;
  right: 50%;
  top: 50%;
  font-size: 109px;
  color: #79bd95;
  z-index: 15;
  visibility: hidden; }

#howTo {
  margin-top: 200px;
  padding: 33px 0;
  border-radius: 3px;
  border-top: 1px solid #F1F1F1;
  margin: 125px 0 0;
  opacity: 0;
  transition: all 0.65s cubic-bezier(0.5, -0.035, 0.24, 1); }
  #howTo p {
    margin-bottom: 30px;
    margin-top: 0;
    padding: 0 33px;
    transition: all 0.65s cubic-bezier(0.5, -0.035, 0.24, 1); }
    #howTo p b {
      transition: all 150ms; }
      #howTo p b:hover {
        background: rgba(1, 1, 1, 0.06); }
    #howTo p:last-child {
      margin-bottom: 0; }

#data.show {
  opacity: 1; }

#data {
  font-size: 13px;
  z-index: -1;
  position: absolute;
  left: 0;
  overflow: scroll;
  width: 100%;
  transition: all 250ms;
  height: 100%;
  padding: 0 80px 0 480px;
  opacity: 0;
  top: 90px; }
  #data #data_cols {
    position: fixed;
    width: 100%;
    left: 0;
    top: 53px; }
    #data #data_cols h3.middle {
      position: absolute;
      font-family: "Avenir Medium";
      letter-spacing: 0;
      text-transform: uppercase;
      font-size: 19px;
      color: #2E2E2E;
      top: -2px;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 0 0 0 400px;
      text-align: center;
      z-index: 0;
      text-transform: none; }
      #data #data_cols h3.middle span {
        color: #C4C4C4;
        font-size: 18px;
        text-transform: uppercase;
        position: relative;
        top: 1px; }
    #data #data_cols div {
      position: absolute;
      left: 480px;
      font-family: "Avenir Black";
      letter-spacing: 0.05rem;
      text-transform: uppercase;
      font-size: 18px;
      opacity: 0;
      z-index: 1; }
      #data #data_cols div:nth-child(even) {
        right: 80px;
        left: auto; }
      #data #data_cols div a {
        display: inline-block;
        position: relative;
        top: -3px;
        left: 3px;
        padding: 5px 8px;
        font-size: 7px;
        border-radius: 14px;
        transition: all 200ms;
        color: #8D8D8D;
        border: 1px solid #B1B1B1; }
        #data #data_cols div a:hover {
          color: white;
          border: 1px solid #29BD66; }
  #data table {
    position: relative;
    overflow-y: scroll;
    clear: both;
    font-size: 26px;
    width: 100%;
    padding: 0; }
    #data table tbody {
      display: table;
      width: 100%; }
    #data table td {
      padding: 15px 0 11px 0;
      transition: padding 200ms; }
      #data table td:nth-child(odd) {
        letter-spacing: 0.03rem; }
      #data table td:nth-child(even) {
        letter-spacing: 0.02rem;
        text-align: right;
        font-size: 19px; }
      #data table td [data-query] {
        border: none; }
    #data table tr {
      border-bottom: 1px solid #EFEFEF;
      transition: all 75ms; }
      #data table tr:hover {
        background-color: #f2f2f2; }
        #data table tr:hover td {
          padding: 15px 13px 11px 13px; }
    #data table .text-blue, #data table #header #header-code #header-code-property:hover, #header #header-code #data table #header-code-property:hover {
      font-size: 15px;
      padding: 2px;
      line-height: 15px;
      text-align: center;
      border-radius: 13px;
      display: inline-block;
      top: -2px;
      position: relative; }
    #data table .text-green, #data table #body-bigCount, #data table #query #queryButtons span:hover p, #query #queryButtons span:hover #data table p, #data table #data_cols div, #data #data_cols table div, #data table .text-blue, #data table #header #header-code #header-code-property:hover, #header #header-code #data table #header-code-property:hover, #data table .charts #header #header-logo o, .charts #header #header-logo #data table o {
      font-size: 22px;
      position: relative;
      top: 1px; }
    #data table #data_more td {
      padding-top: 0.3rem;
      font-family: "Avenir Medium";
      background: #EFEFEF;
      padding: 14px 0;
      font-size: 15px;
      text-align: center;
      color: #6C6C6C; }
      #data table #data_more td a {
        border-bottom: 1px dotted black; }
  #data .accent {
    pointer-events: none; }
  #data #data_scroll {
    z-index: 1;
    position: absolute;
    left: 50%;
    margin-left: 200px;
    bottom: 100px;
    color: #373737;
    font-size: 27px; }

footer {
  position: fixed;
  bottom: 0;
  padding: 12px 19px;
  width: 100%;
  text-align: center;
  font-family: "Avenir Medium";
  font-size: 0.6rem;
  z-index: 1000;
  transition: all 0.4s cubic-bezier(0.5, -0.035, 0.24, 1); }
  footer img {
    width: 100px;
    margin-bottom: -0.2rem; }
  footer #stripe {
    position: relative;
    margin-bottom: -0.3rem;
    width: 36px;
    margin-right: 2px; }
  footer #authors {
    float: left; }
  footer #sponsors {
    float: right; }
  footer .footer-text {
    font-size: 12px; }
  footer .footer-text--divider {
    color: #CBCBCB;
    font-size: 10px;
    margin-right: 2px;
    margin-left: 2px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: "Avenir Black";
    top: -1px; }

#subscribe_ {
  position: absolute !important;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 35px; }
  #subscribe_ #subscribe {
    width: 100%;
    font-size: 12px;
    font-family: "Avenir Light";
    padding: 10px 10px 9px 10px;
    color: #6F6F6F; }

.learnMore {
  margin-top: 20px;
  font-size: 14px;
  display: block;
  text-align: center;
  position: relative;
  top: 10px;
  display: none; }
  .learnMore:before {
    content: "i";
    border: 1px solid #29BD66;
    border-radius: 20px;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    width: 16px;
    background: #29BD66;
    text-align: center;
    font-size: 14px;
    margin-right: 6px;
    color: #FFF;
    font-family: "Avenir Black"; }

.results {
  background: #F7F7F7; }
  .results #searchWrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    border-right: 1px solid #ECECEC;
    padding: 34px;
    margin-left: 0;
    background-color: white;
    z-index: 13; }
  .results footer {
    padding: 12px 80px 12px 480px; }
    .results footer #authors {
      left: 500px; }
    .results footer #sponsors {
      right: 100px; }
  .results input {
    font-size: 17px; }
  .results #header {
    margin-top: 25px;
    margin-bottom: 20px; }
    .results #header #header-code {
      right: 78px; }
    .results #header #header-logo {
      font-size: 36px;
      cursor: pointer; }
  .results #slogan {
    font-size: 17px; }
    .results #slogan br {
      display: none; }
  .results #query {
    padding: 0; }
    .results #query #queryButtons {
      padding: 0 20px; }
  .results #howTo {
    margin: 80px 0;
    padding-top: 40px; }
    .results #howTo p {
      padding: 0; }
  .results #data {
    bottom: 50px;
    height: auto; }
  .results #searchSymbols {
    visibility: visible; }

/***************
    Initial
***************/
#header-code, #header-logo, #subscribe, #slogan, #queryButtons span, #header h1 {
  opacity: 0; }

#body-bigError, #body-bigCount, #howTo, #subSlogan, #search_, .data_more, #data_scroll, #subscribe_ {
  display: none; }

/***************
  Charts
***************/
.charts {
  background-color: #F7F7F7; }
  .charts #header {
    padding: 0;
    margin: 22px 0 30px 0; }
    .charts #header h1 {
      margin: -2px 0 0 0;
      font-size: 13px;
      font-family: "Avenir Medium";
      letter-spacing: 0.8px;
      color: #ACACAC; }
    .charts #header #header-logo {
      margin: 0; }

#chartWrap {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  position: relative; }
  #chartWrap #innerChart {
    background: #FFF;
    float: left;
    width: 100%;
    padding: 40px 0 0 0; }

.holder-parent {
  position: relative;
  width: 100%;
  float: left;
  border-bottom: 1px solid #F1F1F1;
  margin-bottom: 41px;
  padding-bottom: 45px; }
  .holder-parent:last-child {
    border: 0; }
  .holder-parent h4 {
    font-size: 20px;
    text-align: center;
    line-height: 1.3;
    font-weight: normal;
    font-family: "Avenir Medium";
    margin: 0; }
  .holder-parent .holder {
    width: 50%;
    margin-top: 35px; }
    .holder-parent .holder canvas {
      margin: 0 auto;
      display: block; }
  .holder-parent .legend {
    position: absolute;
    top: 0;
    right: 55px;
    border: 3px solid #F1F1F1;
    padding: 12px 0 8px 0;
    list-style: none;
    margin: 70px 0 0 0;
    border-radius: 3px;
    background: #FFF;
    transition: all 800ms;
    width: 43%; }
    .holder-parent .legend li {
      margin: 0;
      padding: 6px 25px 6px 20px;
      font-size: 14px;
      cursor: pointer; }
      .holder-parent .legend li:hover {
        background-color: #FAFAFA; }
      .holder-parent .legend li p {
        color: #B8B8B8;
        margin: 0 0 0 20px;
        float: right;
        display: inline;
        font-family: "Avenir Medium"; }
      .holder-parent .legend li span {
        width: 10px;
        height: 10px;
        border-radius: 6px;
        display: block;
        float: left;
        margin-right: 7px;
        position: relative;
        top: 2px; }
        .holder-parent .legend li span:after {
          content: "";
          position: absolute;
          width: 4px;
          height: 4px;
          border-radius: 2px;
          background-color: white;
          left: 3px;
          top: 3px; }

/***************
  Media Queries
***************/
@media screen and (max-height: 850px) {
  #howTo {
    margin-top: 100px; }

  #header {
    margin-top: 90px; } }
@media screen and (max-height: 770px) {
  #subscribe_ {
    display: none !important; } }
@media screen and (max-height: 735px) {
  #howTo {
    margin-top: 70px; }

  #header {
    margin-top: 70px; } }
@media screen and (max-width: 1200px) {
  #data {
    padding: 0 70px 0 470px; }
    #data table {
      font-size: 22px; }
    #data #data_cols div {
      left: 470px; }
      #data #data_cols div:nth-child(even) {
        right: 70px; }

  .results footer {
    padding: 12px 70px 12px 470px; } }
@media screen and (max-width: 1140px) {
  #data #data_cols h3.middle {
    display: none; } }
@media screen and (max-width: 1050px) {
  #data {
    padding: 0 40px 0 440px; }
    #data #data_cols div {
      left: 440px;
      font-size: 16px; }
    #data table {
      font-size: 18px; }
      #data table tr:hover td {
        padding: 10px 9px 7px 10px; }
      #data table td {
        padding: 10px 0 7px 0;
        word-break: break-all; }
        #data table td:nth-child(even) {
          width: 25%;
          font-size: 16px; }
        #data table td:nth-child(odd) {
          width: 75%; }
        #data table td .text-green, #data table td #body-bigCount, #data table td #query #queryButtons span:hover p, #query #queryButtons span:hover #data table td p, #data table td #data_cols div, #data #data_cols table td div, #data table td .text-blue, #data table td #header #header-code #header-code-property:hover, #data table #header #header-code td #header-code-property:hover, #header #header-code #data table td #header-code-property:hover, #data table td .charts #header #header-logo o, .charts #header #header-logo #data table td o {
          font-size: 18px; }
    #data #data_cols div {
      left: 440px; }
      #data #data_cols div:nth-child(even) {
        right: 40px; }

  .results footer {
    padding: 12px 40px 12px 440px; } }
@media screen and (max-width: 850px) {
  #subscribe_ {
    display: none !important; }

  .results {
    overflow-y: scroll; }
    .results #searchWrap {
      width: 100%;
      position: relative;
      width: auto;
      height: auto;
      border: 0;
      padding: 15px 35px 35px 35px; }
    .results footer {
      padding: 12px 35px 12px 35px;
      background: #F7F7F7; }
    .results #query #queryButtons {
      display: none; }
    .results #header {
      margin-top: 0; }
      .results #header #header-code {
        right: 267px; }
    .results #howTo {
      display: none !important; }
    .results #slogan {
      max-width: 461px;
      margin: 0 auto 26px auto; }
    .results #data {
      padding: 0 35px;
      position: relative;
      top: auto;
      bottom: auto;
      z-index: 100; }
    .results #searchWrap.sticky {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      padding: 25px 35px;
      box-shadow: 0 1px 7px rgba(104, 104, 104, 0.16);
      z-index: 101;
      transition: none; }
      .results #searchWrap.sticky #header {
        display: none; }
      .results #searchWrap.sticky #slogan {
        display: none !important; }
    .results #data.sticky {
      top: 95px;
      transition: none; }

  #data table {
    top: 30px;
    position: relative; }
  #data #data_cols div {
    left: 35px; }
    #data #data_cols div:nth-child(even) {
      right: 33px; }

  #searchSymbols {
    margin-top: -156px;
    margin-right: -50px;
    right: 50%;
    top: 50%; } }
@media screen and (max-width: 650px) {
  #searchWrap {
    width: 100%;
    margin-left: 0;
    left: 0;
    padding: 0 40px; }

  #slogan {
    font-size: 19px; }
    #slogan br {
      display: none; }

  #query #queryButtons {
    padding: 0 80px; } }
@media screen and (max-width: 500px) {
  #searchWrap {
    padding: 0 28px; }

  #query #queryButtons {
    padding: 0 40px; }

  #howTo p {
    padding: 0; } }
@media screen and (max-width: 420px) {
  #query #queryButtons {
    padding: 0; }

  .results #data {
    padding: 0 25px; }
  .results #searchWrap.sticky {
    padding: 25px; }
  .results footer {
    padding: 12px 25px 12px 25px; } }
