/****************
     Fonts
****************/

@font-face {
    font-family: "Avenir Black";
    src: url(../font/Avenir_Black.ttf);
}

@font-face {
    font-family: "Avenir Medium";
    src: url(../font/Avenir_Medium.ttf);
}

@font-face {
    font-family: "Avenir Light";
    src: url(../font/Avenir_Light.ttf);
}

/****************
     Colors
****************/

.text-blue {
	color: #0b8fb2;
}
.text-blue-dark {
	color: #235364;
}
.background-blue {
	background-color: #0b8fb2;
}

.text-green {
	color: #29bd66;
}
.background-green {
	background-color: #29bd66;
}

.text-grey {
	color: #5a5a5a;
}

.text-red {
	color: #d51407;
}
.background-red {
	background-color: #d51407;
}

/********************
    Normalization
********************/

::-webkit-scrollbar { 
    display: none; 
}

* {
	box-sizing: border-box;
}

::selection {
	background: #000;
	color: #fff;
}

/*****************
    Elements
*****************/

b {
	font-weight: normal;
	font-family: "Avenir Medium";
}

strong {
	font-weight: normal;
	font-family: "Avenir Black";
}

a, a:visited {
	cursor: pointer;
	color: inherit;

	text-decoration: none;

	&:hover {
		@extend .text-blue-dark;
	}

	&:active {
		@extend .text-blue-dark;
	}
}

[data-query] {
	display: inline-block;

	transition: background-color 75ms;
	cursor: pointer;
	border-bottom: 1px dotted #2e2e2e;

	&:hover {
		@extend .background-green;
	}
}

input {
	transition: background-color 400ms;
	width: 14.35rem;
	padding: 0.425rem 0.45rem 0.3rem 0.425rem;

	border: 1px solid black;
	border-radius: 1px;

	font-family: "Avenir Medium";
	color: #000;
	font-size: 0.8rem;
	word-spacing: -0.05rem;

	&:focus, &:hover {
		outline: none;
		@extend .background-green;
	}
}

/*****************
      Body
*****************/

body {
	cursor: default;
	overflow: hidden;

	height: 100%;

	border-top: 3px solid white;
	background: #fff;

	color: #000;
	font-family: "Avenir Light";

	main {
		position: absolute;
		left: 50%; margin-left: -15rem;
		width: 32rem;
	}
}

#body-bigError {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;

	font-family: "Verdana";
	color: red;
	font-size: 80vh;
	text-align: center;
}

#body-bigCount {
	position: absolute;
	left: 50%; bottom: -12vw; transform: translateX(-50%);

	font-size: 33vw;
	@extend .text-green;

	&:after {
		content: "Site Count";

		position: absolute;
		top: 3.5vw;
		right: 1.75vw;

		text-transform: uppercase;
		font-size: 1.05vw;
		letter-spacing: 0.025vw;
	}
}

#header {
	margin: 0.45rem auto -0.25rem auto;

	width: 30.25rem;

	font-family: "Avenir Black";
	text-transform: uppercase;
	font-size: 2.825rem;

	#header-code {
		position: relative;
		top: 0.525rem;
		right: -1.9rem;

		width: 11.65rem;

		font-family: "Avenir Medium";
		text-align: right;
		font-size: 0.65rem;
		text-transform: none;
		letter-spacing: 0.03rem;

		#header-code-property {
			display: inline-block;
			cursor: pointer;

			&:hover {
				@extend .text-blue;
			}

			&:active {
				@extend .text-blue-dark;
			}
		}
	}

	#header-logo {
		text-shadow: 0px 0px 0px rgba(125, 125, 125, 1);
	}
}

#slogan {
	background: white;

	font-size: 1rem;
	line-height: 1.35rem;
	letter-spacing: 0.015rem;
	font-family: "Avenir Medium";
}

.sectionHeader {
	margin: 1.3rem 0rem 0.65rem 0.05rem;

	font-family: "Avenir Black";
	font-size: 0.75rem;
	letter-spacing: 0.05rem;
	text-transform: uppercase;
}

#query {
	text-transform: uppercase;
	font-size: 0.625rem;
	letter-spacing: 0.05rem;

	#query_or {
		margin: 0rem 0.3rem;
	}

	[data-query] {
		margin-right: 0.115rem;
		padding: 0.4rem 0.6rem 0.25rem 0.6rem;

		background: black;

		line-height: 1.1rem;
		color: white;
		font-family: "Avenir Black";

		&:hover {
			@extend .background-green;
		}
	}
}

#search_ {
	display: inline-block;
	position: static;
	margin-bottom: 0.125rem;

	#searchSymbols {
		position: absolute;
		margin-top: 0.2rem;
		left: 6rem;

		font-size: 1.10rem;
	}
}

#data {
	position: relative;
	margin-top: 1.175rem;

	font-size: 0.8rem;

	@-moz-document url-prefix() {
		/* This is to space out the Firefox scrollbar. */
		padding-right: 0.65rem;
	}

	#data_cols div {
		position: absolute;

		font-family: "Avenir Black";
		letter-spacing: 0.05rem;
		text-transform: uppercase;

		&:nth-child(even) {
			right: 0;
		}

		a {
			display: inline-block;
			position: relative;
			top: -0.175rem;
			left: 0.05rem;
			padding: 0.2rem;

			background: black;

			color: white;
			font-size: 7px;

			&:hover {
				@extend .background-blue;
			}
		}
	}

	table {
		margin-top: 1.65rem;
		position: absolute;
		display: block;
		overflow-y: scroll;

		clear: both;
		max-height: 17rem;

		line-height: 1.175rem;
		font-family: "Avenir Medium";

		td {
			width: 100%;

			&:nth-child(odd) {
				letter-spacing: 0.03rem;
			}

			&:nth-child(even) {
				letter-spacing: 0.02rem;
				text-align: right;
			}

			[data-query] {
				border: none;
			}
		}

		#data_more td {
			padding-top: 0.3rem;

			font-family: "Avenir Black";

			a {
				border-bottom: 1px dotted black;
			}
		}
	}

	.accent {
		pointer-events: none;

		@extend .text-grey;
	}

	#data_scroll {
		z-index: 1;
		position: absolute;
		left: 50%; margin-left: -0.9rem;
		top: 16rem;

		color: rgb(55, 55, 55);
		font-size: 1.8rem;
	}
}

footer {
	position: fixed;
	bottom: 0rem;
	left: 50%; transform: translateX(-50%);
	padding: 0.4rem 0rem 0.6rem 0rem;
	width: 100%;

	text-align: center;
	font-family: "Avenir Black";
	font-size: 0.6rem;

	img {
		width: 100px;
		margin-bottom: -0.2rem;
	}

	#stripe {
		position: relative;
		margin-bottom: -0.3rem;
		width: 38px;
	}

	.footer-text {
		text-transform: uppercase;
		letter-spacing: 0.015rem;
		word-spacing: -0.075rem;
	}

	.footer-text--divider {
		@extend .text-grey;
	}
}

#subscribe_ {
	position: fixed !important;
	top: 2rem;
	right: 2.2rem;

	background: black;

	#subscribe {
		width: 13.75rem;
	}
}

/***************
    Initial
***************/

#header-code, #header-logo, #subscribe {
	opacity: 0;
}

#body-bigError, #body-bigCount, main, .data_more, #data_scroll, footer, #subscribe_ {
	display: none;
}