.chart-wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  left: -80px;
}

#chart-nav {
  width: 150px;
  float: left;
  padding-top: 30px;

  ul.nav {
    padding: 0;
    margin: 0;
    list-style: none;
    border-radius: 3px;
    float: left;
    width: 100%;

    li {
      float: left;
      width: 100%;
      border-left: 2px solid transparent;
      margin-bottom: 3px;

      a {
        padding: 3px 10px;
        font-size: 13px;
        cursor: pointer;
        color: #909090;
        font-family: "Avenir Medium";
        display: inline-block;

        &:hover {
          background: #E2E2E2;
          border-radius: 3px;
        }
      }

      &.active {
        border-left: 2px solid #29BD66;

        a {
          color: #4A4A4A;

          &:hover {
            background: none;
          }
        }
      }

      &:first-child {
        &.label {
          margin-top: 0;
        }
      }

      &.label {
        border: 0;
        padding: 0 3px 7px 2px;
        margin-top: 33px;

        label {
          font-size: 10px;
          display: block;
          text-transform: uppercase;
          letter-spacing: 1.2px;
          font-family: "Avenir Medium";
          color: #ABABAB;
        }
      }
    }
  }
}

.tab-content {
  float: left;
  width: 750px;
  padding: 40px;
  border: 1px solid #CFCFCF;
  background: rgba(255, 255, 255, 0.2);
}
